<div class="section no-pad-bot" id="detail">
	<div class="container ">
		<h1 class="white-text">Great!</h1>
		<h4 class="light white-text">You are learning about vegetables + Angular.</h4>
		<br>
		<div class='row center'></div>
	</div>
</div>
<br>
<div class="container">
	<a [routerLink]="['/home']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
</div>
<br>
<div class="container animated fadeIn">	
	<div class="card-panel">
		<div class="row">
			<div class="col m4 s12">
				<img [src]="vegetable.img" [alt]="vegetable.nombre" width="100%">
			</div>
			<div class="col m8 s12">
				<h1>{{vegetable.name}}</h1>
				<p class="light justify">{{vegetable.description}}</p>
			</div>
		</div>
	</div>
</div>

<style>
	/*#detail{
		background-color: #231e32;
		border-bottom: #19132B 22px solid !important;
	}
*/
</style>

