<div class="section no-pad-bot" class="vegetable-detail">
	<div class="container header">
		<h1 class="white-text">Great!</h1>
		<h4 class="light white-text">You are learning about vegetables + Angular.</h4>
	</div>
</div>
<br>
<div class="container">
	<a [routerLink]="['/home']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
</div>
<br>
<div class="container content animated fadeIn">	
	<div class="card-panel">
		<div class="row">
			<div class="col m4 s12">
				<img [src]="vegetable.img" [alt]="vegetable.name" width="100%">
			</div>
			<div class="col m8 s12">
				<h1>{{vegetable.name}}</h1>
				<p class="light justify">{{vegetable.description}}</p>
			</div>
		</div>
	</div>
</div>

<div class="divider"></div>

<div class="container suggestions">
	<h3>Maybe you could be interested in:</h3>
	<div class="row">
		<div class="col s12 l4 m4" *ngFor="let x of listRandom">
			<div class="card animated fadeIn" *ngIf="x.status">
				<div class="card-image pointer">
					<a id="a-img" (click)="seeVegetable(x.id)" (click)="getRandomVegetables(x.id)"><img [src]="x.img" [alt]="x.name"></a>
				</div>
				<div class="card-content">
					<span class="card-title">{{ x.name }}</span>
					<p class="light black-text justify">{{ x.abstract }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
