#detail {
	background-color: #231e32;
	border-bottom: #19132B 22px solid !important;
}

#about{
	font-size: 20px;
}

#code-banner1{
	height: 500px;
	background-color: #231e32;
	padding-right: 30px;
}

#code-banner2{
	height: 500px;
	background-color: #19132B;
	display: flex;
    justify-content: center;
    align-items: center;
}

#code-text{
	font-size: 100px;
	font-weight: 600;
}

.go-top-icon{
	font-size: 50px;
	cursor: pointer;
}

.go-top-icon:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}