<div class="section no-pad-bot" id="detail">
	<div class="container ">
		<h1 class="white-text">About this project.</h1>
		<h4 class="light white-text">Angular + vegetables</h4>
		<br>
		<div class='row center'></div>
	</div>
</div>
<br>
<div class="container">
	<a [routerLink]="['/home']" class="waves-effect"><i class="material-icons black-text">arrow_back</i></a>
</div>
<div class="container">
	<div class="row">
		<h2>About this project.</h2>
		<div class="divider"></div>
		<p class="light" id="about">This project has been created to show services, routers, parameters, components, *ngFor, *ngIf and a search navbar. I hope that if you are starting with Angular, this project be helpful for you.</p>
		<br>
		<h4>Architecture</h4>
		<div class="center">
			<img src="../../assets/img/architecture.png" width="90%" >
		</div>
		<br>
		<h4>Services</h4>
		<ul class="collection">
			<li class="collection-item">vegetable.service.ts</li>
		</ul>
		<br>
		<h4>Components</h4>
		<ul class="collection">
			<li class="collection-item">about.component.ts</li>
			<li class="collection-item">header.component.ts</li>
			<li class="collection-item">home.component.ts</li>
			<li class="collection-item">navbar.component.ts</li>
			<li class="collection-item">vegetables.component.ts</li>
			<li class="collection-item">vegetable-detail.component.ts</li>
			<li class="collection-item">vegetable-list.component.ts</li>
			<li class="collection-item">vegetable-search.component.ts</li>
		</ul>
	</div>
</div>

	<div class="row">
		<div class="col l6 m6 s12 valign-wrapper " id="code-banner1">
			<h1 class="white-text right-align" id="code-text">Check out the code!</h1>
		</div>
		<div class="col l6 m6 s12 center " id="code-banner2">
			<a href="https://github.com/dalejodc/angular-vegetables" target="_blank" >
				<h1 class="white-text " id="code-text">{{code}}</h1>
				<h4 class="white-text light">angular-vegetables</h4>
			</a>
		</div>
	</div>

<div class="row center">
	<i class="material-icons go-top-icon" (click)="scrollTop()">keyboard_arrow_up</i>
</div>
