
<div class="container" id="vegetables">
	<div class="row">
		<div class="col s12 l2 m4" *ngFor="let x of vegetablesList; let i = index">
			<div class="card animated fadeIn" >
				<div class="card-image item">
					<a (click)="seeVegetable(i)"><img [src]="x.img" [alt]="x.name"></a>
				</div>
				<div class="card-content">
					<span class="card-title black-text">{{ x.name }}</span>
					<p class="light black-text justify">{{ x.abstract }}</p>
				</div>
				<div class="card-action center">
					<button (click)="seeVegetable(i)" class="btn waves-effect waves-light" >See</button>
				</div>
			</div>
		</div>
	</div>
</div>

<style>

#top{
	background-color: #231e32;
}
#vegetables{
	padding-top: 50px;
	padding-bottom: 30px;
}

.container, #vegetables{
	width: 90%;
}

.btn {
	padding-bottom: 12px !important;
	height: 34px;
	width: 90px ;
	border-radius: 30px;
	text-decoration: none;
	color: #fff;
	background-color: #ce4a56;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
	text-transform: none !important;
	/*font-size: 17px;*/
	line-height: 35px;
}

.item {
  position: relative;
  overflow: hidden;
}

.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}
</style>