.vegetables{
	padding-top: 50px;
	padding-bottom: 30px;
	width: 90%;
}

.btn {
	padding-bottom: 12px !important;
	height: 34px;
	width: 90px ;
	border-radius: 30px;
	text-decoration: none;
	color: #fff;
	background-color: #ce4a56;
	text-align: center;
	letter-spacing: .5px;
	transition: .2s ease-out;
	cursor: pointer;
	text-transform: none !important;
	line-height: 35px;
}


