<div class="full-width">
	<div class="row">
		<br>
		<div class="tittle-container animated fadeIn hide-on-med-and-down">
			<div class="col l6 m12 s12" >
				<h1 class="white-text thin" id="tittle">vegetables</h1>
				<p class="light white-text" id="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam officiis ex molestias perferendis rem quasi vitae, ad et illum eos officia, provident alias veniam harum aliquam ipsa ducimus voluptate iure nobis odio! Velit asperiores saepe recusandae reiciendis beatae, facilis, at.</p>
				<a class="waves-effect waves-light btn valing-wrapper" (click)="scrollDown()">See</a>
			</div>
		</div>

		<div class="tittle-container-mobile animated fadeIn hide-on-large-only">
			<div class="col l6 m12 s12" >
				<h1 class="white-text thin" id="tittle-mobile">vegetables</h1>
				<p class="light white-text" id="sub-title-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam officiis ex molestias perferendis rem quasi vitae, ad et illum eos officia, provident alias veniam harum aliquam ipsa ducimus voluptate iure nobis odio! Velit asperiores saepe recusandae reiciendis beatae, facilis, at.</p>
				<a class="waves-effect waves-light btn valing-wrapper" (click)="scrollDown()">See</a>
			</div>
		</div>
	</div>
	<br>
</div>





