/* You can add global styles to this file, and also import other style files */

.justify{
	text-align: justify;
}

.pointer{
	cursor: pointer;
}

@media only screen and (max-width: 992px) {
	.hide-on-med-and-down {
		display: none !important;
	}
}


@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}
